
    <title>Admin Dashboard</title>
    
</head>
<link rel="stylesheet" href="/stylesheets/admin/admin__dashboard.css">
        <div class="swift__content ">
            <div class="section__1">
                <div class="card__like">
                    <!--The Customer Card start-->
                    <a href="/admin/showUsers">
                        <div class="the__card">
                        <div class="box">
                            <h1>{{response.user__count}}</h1>
                            <h3>Customers</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/external-basicons-line-edtgraphics/50/000000/external-Users-users-basicons-line-edtgraphics-2.png"/>
                        </div>
                     </div>
                    </a>
                    
                    <!--The Customer Card ends here-->
                    <!--The Prime customers-->
                    <a href="/admin/showPrimeUsers">
                        <div class="the__card">
                        <div class="box">
                            <h1>{{response.prime__users__count}}</h1>
                            <h3>Premium Users</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/external-sbts2018-solid-sbts2018/58/000000/external-08-premium-membership-ecommerce-3-sbts2018-solid-sbts2018-2.png"/>
                        </div>
                    </div>
                    </a>
                    
                    <!--the prime customers ends-->
                    <!--The Product Card begins here-->
                    <a href="/admin/showProducts">
                        <div class="the__card">
                        <div class="box">
                            <h1>{{response.products__count}}</h1>
                            <h3>Products</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/external-line-lima-studio/64/000000/external-shoes-sale-line-lima-studio-2.png"/>
                        </div>
                    </div>
                    </a>
                    <!--The Product Card ends here-->


                    <div class="the__card" onclick="window.location.href='/admin/showOrders'">
                        <div class="box">
                            <h1>00</h1>
                            <h3>Orders</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/external-outline-berkahicon/64/000000/external-Resume-interview-outline-berkahicon.png"/>
                        </div>
                    </div>


                    <!--The workers Card begin here-->
                    <div class="the__card">
                        <div class="box">
                            <h1>6768</h1>
                            <h3>Workers</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/glyph-neue/64/000000/workers-male.png"/>
                        </div>
                    </div>
                    <!--The Workers Card ends here-->
                    <!--The Coupon Card begins here-->
                    <div class="the__card">
                        <div class="box">
                            <h1>5</h1>
                            <h3>Coupons</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-voucher-ecommerce-tanah-basah-glyph-tanah-basah.png"/>
                        </div>
                    </div>
                    <!--The Coupon Card ends here-->
                    <!--The vacancy Card start here-->
                    <div class="the__card">
                        <div class="box">
                            <h1>30</h1>
                            <h3>Job Vacancy</h3>
                        </div>
                        <div class="icon__case">
                            <img src="https://img.icons8.com/external-creatype-outline-colourcreatype/64/000000/external-job-web-application-1-creatype-outline-colourcreatype.png"/>
                        </div>
                    </div>
                    <!--The vacancy Card Ends here-->
                    <!--The job application card start here-->
                    <div onclick="window.location.href='/admin/graph'" class="the__card">
                        <div class="box">
                            <h1></h1>
                            <h3>Graph Section</h3>
                        </div>
                        <div class="icon__case">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAzUlEQVRIie3UwUpCQRTG8R/uSiINI0tchC/Tm7ixJwyCNiFmC10otgitB7FFJxhuV27XrkRwPzjMcOac73+YgaFWSW0jKlOjSrN/DzjDsKio6A2OIvLMn6P3dl/AMe7wgJMk38ZT9L2gtw+gifvkfBJTtzGN3KrIfBfgFI+R32Ad+ynmsV+gW2SeB2hhHLk1BujHtF+1S1z+xDwLSO/2FddJ3QVmZc2zgGEy4VVObQfnZcyzABj5nLYy1X/R3wPeY93+MnbqBm+HBNT6pg/NHlomUeF1fAAAAABJRU5ErkJggg=="/>
                        </div>
                    </div>
                    <!--The job application card ends here-->
                </div>
                <div class="section__1_2">
                    <div class="recent__payments new__users">
                       <div class="title">
                        <h2>Recent Payments</h2>
                        <a href=""><button>View all</button></a>
                       </div>
                       <center>
                        <table class="content__table">
                            <tr>
                              <th>Table h</th>
                              <th>Table h</th>
                              <th>Table h</th>
                              <th>Table h</th>
                            </tr>
                            <tr>
                                <td>table d</td>
                                <td>table d</td>
                                <td>table d</td>
                                <td>table d</td>
                            </tr>
                           </table>
                       </center>
                    </div>
                    <div class="new__users">
                        <div class="title">
                            <h2>New Users</h2>
                            <a href=""><button>View all</button></a>
                        </div>
                        <center>
                            <table class="content__table">
                                <tr>
                                  <th>Name</th>
                                  <th>Phone number</th>
                                  <th>E-mail</th>
                                  
                                </tr>
                                {{#each newUsers}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone__number}}</td>
                                    <td>{{this.email}}</td>
                                    
                                </tr>
                                {{/each}}
                               </table>
                           </center>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="/javascripts/darkMode.js"></script>
