<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/admin/newform.css">
       <link rel="stylesheet" href="/stylesheets/admin/profilePage.css">
      <script src="/javascripts/imagecrop.js" defer></script>
</head>


<body>
    <div class="topper__container">
        <div class="div__container">
        <div class="title"> Edit Product </div>
        <p style="color: green ; font-size:22px;font-weight:600;">{{admin__msg}}</p>
        <form action="/admin/editProduct/{{data._id}}" class="signin__form" method="post" enctype="multipart/form-data">
            <div class="product__details">
                <div class="input__box">
                    <span class="details">Company Name</span>
                    <input type="text" name="company__name" id="company__name" placeholder="company name" value="{{data.company__name}}" >
                </div>
                <div class="input__box">
                    <span class="details">Model</span>
                    <input type="text" name="model" id="model" placeholder="model" value="{{data.model}}" >
                </div>
                <div class="input__box">
                    <span class="details">Price</span>
                    <input type="number" name="price" id="price" placeholder="price" value="{{data.price}}" >
                </div>
                <div class="input__box">
                    <span class="details">Select Category</span>
                    <select name="category"   >
                        <option >{{data.category}}</option>
                        {{#each category}}
                        <option >{{this.name}}</option>
                       {{/each}}
                    </select>
                </div>
                <div class="input__box">
                    <span class="details">image 1</span>
                    <div id="crop">
                        <img class="img-fluid" src="/product-images/{{data._id}}.jpg" alt="" id="img__view" width="70px">
                      <img src="" id="imgView1" alt=""  class="clr" width="130px">
                      <div class="valid-info" id="info"></div>
                      <h5 class="error__form text-danger" id="image1_error_message"></h5>
                      <div style="display:flex ;">
                        <div id="image-box1" class="image-container clr" style="height:300px ; width:20%;"></div>
                        <button type="button" class="the__button" id="crop-btn1" style="margin-top: 10px; display: none; width: 50%; margin: 20rem 0rem 0rem 0rem;">Crop</button>
                      </div>
                    </div>
                    <img class="img-fluid clr"  src="" alt="" id="img__view" width="70px">
                    <div class="vald-info" id="info"></div>
                    <input type="file" class='image__input'  name="image" id="image" >
                     <label class="the__button" for="image" required> edit img1</label> 
                    </div>
                

                <div class="input__box">
                    <span class="details">image 2</span>
                     <div id="crop">
                        <img class="img-fluid" src="/product-images/{{data._id}}2.jpg" alt="" id="img__view2" width="70px">
                      <img src="" id="imgView2" alt=""  class="clr" width="130px">
                      <div class="valid-info" id="info"></div>
                      <h5 class="error__form text-danger" id="image1_error_message"></h5>
                      <div style="display:flex ;">
                        <div id="image-box2" class="image-container clr" style="height:300px ; width:20%;"></div>
                        <button type="button" class="btn the__button" id="crop-btn2" style="margin-top: 10px; display: none; width: 50%; margin: 20rem 0rem 0rem 0rem;">Crop</button>
                      </div>
                    </div>
                    <img class="img-fluid clr" src="" alt="" id="img__view2" width="70px">
                     <div class="vald-info" id="info"></div>
                    <input type="file" class='image__input' name="image2" id="image2"  >
                    <label class="the__button" for="image2" required> edit img2</label>
                </div>
                <div class="input__box">
                    <span class="details">image 3</span>
                    <div id="crop">
                        <img class="img-fluid" src="/product-images/{{data._id}}3.jpg" alt="" id="img__view3" width="70px">
                      <img src="" id="imgView3" alt=""  class="clr" width="130px">
                      <div class="valid-info" id="info"></div>
                      <h5 class="error__form text-danger" id="image1_error_message"></h5>
                      <div style="display:flex ;">
                        <div id="image-box3" class="image-container clr" style="height:300px ; width:20%;"></div>
                        <button type="button" class="btn the__button" id="crop-btn3" style="margin-top: 10px; display: none; width: 50%; margin: 20rem 0rem 0rem 0rem;">Crop</button>
                      </div>
                    </div>
                    <img class="img-fluid" src="" alt="" id="img__view3" width="70px">
                    <input type="file" class='image__input' name="image3" id="image3"   >
                     <label class="the__button" for="image3" required> edit img3 </label>
                </div>
                <div class="input__box">
                    <span class="details">image 4</span>
                    <div id="crop">
                         <img class="img-fluid" src="/product-images/{{data._id}}4.jpg" alt="" id="img__view4" width="70px">
                      <img src="" id="imgView4" alt=""  class="clr" width="130px">
                      <div class="valid-info" id="info"></div>
                      <h5 class="error__form text-danger" id="image1_error_message"></h5>
                      <div style="display:flex ;">
                        <div id="image-box4" class="image-container clr" style="height:300px ; width:20%;"></div>
                        <button type="button" class="btn the__button" id="crop-btn4" style="margin-top: 10px; display: none; width: 50%; margin: 20rem 0rem 0rem 0rem;">Crop</button>
                      </div>
                    </div>
                      <img class="img-fluid" src="" alt="" id="img__view4" width="70px">
                    <input type="file" class='image__input' name="image4" id="image4">
                     <label class="the__button" for="image4" required> edit img4 </label>
                </div>
                <div class="input__box">
                    <span class="details">Stocks</span>
                    <input type="number" name="stock" value="{{data.stock}}" id="" min="1" >
                </div>
                <div class="input__box">
                    <span class="details">Description</span>
                    <textarea name="description"   id="description" >{{data.description}}</textarea  >
                </div>
            <input type="submit" class="button"  value="Edit Product">
        </form>
            <a  onclick="window.location.href='/admin'" style="width: 100%;"><button class="the__button">Dashboard / Home</button></a>
            </div>
    </div>
    </div>

    

    
    {{!-- <script src="/javascripts/imageChange.js"></script> --}}
    {{!-- <script src="/javascripts/darkMode.js"></script> --}}
</body>

</html>