<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <!-- font font-awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--Google Fonts-->
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;600;700;800&display=swap" rel="stylesheet">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/users/productPage.css">
 <link rel="stylesheet" href="/stylesheets/home1.css">
    <link rel="stylesheet" href="/stylesheets/users/header.css">
    <link rel="stylesheet" href="/stylesheets/home1.css"> 
    <link rel="stylesheet" href="/stylesheets/users/alert.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/users/home1Popup.css">
   
    <!-- bootstrap growl -->
   
</head>
<body>    



 <div class="popup">
        <div class="contentBox">
            <div class="close"></div>
            <div class="imgBx">
                <img src="/images/users/gift.jpg" alt="" srcset="">
            </div>
            <div class="content">
                <div class="">
                    <h3>Special Coupon</h3>
                    <h2>50<sup>%</sup> <span>off!</span> </h2>
                    <p>Use this Code to get Flat 50% discount for your first Purchase!</p>
                    <c id="copyButton">GET CODE</c>
                </div>
            </div>
        </div>
    </div>
   


    <div class="alert__box none"> 
        <div class="one">Added to <small>shoe store </small> cart 
           </div>
            <div class="two">
                <span class="close__alert">&times;</span>
            </div>  
    </div> 
    <!-- The Start of the Great Nav Section -->
    <div class="container__home">
        <div class="row__home">
            <div class="co_1 ">
                <h2>Shoe Store</h2>
                <h3>Zoro Edition</h3>
                <p>The blade that is more sharp than you think</p>
                <h4>Buy the limited Edition Zoro shoe Now!!</h4>
                <button class="button__more"><a href="">Buy Now</a> <svg xmlns="http://www.w3.org/2000/svg" width="34"
                        fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg></button>

            </div>
            <div class="co_2  ">
                <img src="/images/zoro.png" alt="" class="controller">
                <div class="color__box"></div>
                {{!-- <button class="add__btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg>
                    <p><small>Add to cart</small></p>
                </button> --}}
            </div>
        </div>
    </div>
    <div class="new__arrivals">
        <h3>New arrivals</h3>
    </div>
    <div class="the__products">
        <div class="the__container snaps__inline" >
            {{#each new__products}}
            <div class="the__card" >
                <div class="imgbx"><a href="/users/productPage/{{this._id}}" style="text-decoration:none ;">
                        <img src="/product-images/{{this._id}}.jpg" alt="image__here" width="500px"></a>
                    <ul class="action">
                        <li>
                            
                             <i class="fa fa-heart" onclick="add__to__wishlist('{{this._id}}')"></i>
                            <span id="{{this._id}}add" >Add to WishList</span>
                           
                        </li>
                        <li>
                           
                            <i class="fa fa-shopping-cart" onclick=addToCart('{{this._id}}')></i>
                            <span >Add to Cart</span>
                        </li>
                        <li>
                            <i class="fa fa-eye"></i>
                            <span>View Product</span>
                        </li>
                    </ul>
                </div>
                <div class="content__home">
                    <div class="product__name">
                        <h3>{{this.model}}</h3>
                    </div>
                    <div class="price__rating">
                        {{#if this.disPrice}}
                         <h5 class="stroke">Rs.{{this.price}}</h5>
                        <h2>Rs.{{this.disPrice}}</h2>
                        {{else}}
                        <h2>Rs.{{this.price}}</h2>
                        {{/if}}
                        <div class="rating">
                            {{#each this.loop}}
                                <i class="fa fa-star"></i>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="button__div" style="padding:40px ;  width:190px">
                <a href="/users/home2/all__categories"> <button class="button__more" style="margin:0px 30px 0px ;"> View More<svg xmlns="http://www.w3.org/2000/svg" width="34"
                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></button> </a>
            </div>
        </div>
    </div>

    {{!-- section 2 of the product carousal --}}
    <div class="new__arrivals" id="card">
        <h3>Top Picks</h3>
    </div>

    <div class="the__products">
        <div class="the__container snaps__inline">
            {{#each products}}
            <div class="the__card" id="card">
                <div class="imgbx"><a href="/users/productPage/{{this._id}}" style="text-decoration:none ;">
                        <img src="/product-images/{{this._id}}.jpg" alt="image__here" width="500px"></a>
                    <ul class="action">
                        <li>
                            <i class="fa fa-heart"></i>
                            <span>Add to WishList
                            </span>
                        </li>
                        <li>
                          <i class="fa fa-shopping-cart" class="alert" onclick=addToCart('{{this._id}}') ></i>
                            <span>Add to Cart</span>
                        </li>
                        <li>
                            <i class="fa fa-eye"></i>
                            <span>View Product</span>
                        </li>
                    </ul>
                </div>
                <div class="content__home">
                    <div class="product__name">
                        <h3>{{this.model}}</h3>
                    </div>
                    <div class="price__rating">
                        {{#if this.disPrice}}
                         <h5 class="stroke">Rs.{{this.price}}</h5>
                        <h2>Rs.{{this.disPrice}}</h2>
                        {{else}}
                        <h2>Rs.{{this.price}}</h2>
                        {{/if}}
                        <div class="rating">
                            {{#each this.loop}}
                                <i class="fa fa-star"></i>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="button__div" style="padding:40px ;  width:190px">
                <a href="/users/home2/all__categories"> <button class="button__more"> View More<svg xmlns="http://www.w3.org/2000/svg" width="34"
                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></button> </a>
            </div>
        </div>
    </div>
    <center><a href="/users/home2/all__categories"> <button class="button__more" id="button"> View All<svg xmlns="http://www.w3.org/2000/svg" width="34"
                    fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg></button> </a></center>
   {{#unless token}}
 <div class="signup__banner">
        <div class="signup__box">
            <h1>Signup now and get 50% off on your first order !!!!</h1>
        </div>
        <div class="signup__button">
            <a href=""><button class="simple__gold">sign up</button></a>
        </div>
    </div>
   {{/unless}}
    {{!-- NOW ITS TIME FOR THE FOOTER --}}

    <footer >

        <section class="parallax">
            <h2 id="text">Book Your Shoes Now !!!</h2>
            {{!-- <div class="background">
                <img src="/images/users/realback.jpg" id="background">
            </div> --}}
            <div class="bag">
                <img src="/images/users/bag.png" width="500px" id="bag">
            </div>
            <div class="girl">
                <img src="/images/users/imgbin_shopping-woman-png.png"   width="500px" alt="Shop Caracol Silver - Shopping Girl Transparent" id="girl" />
            </div>
            <div class="red__bag">
                <img src="/images/users/redbag-removebg-preview.png" alt="" id="redbag">
            </div>
            
        </section>
    </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <script src="/javascripts/gsapHome1.js"></script>
    <script src="/javascripts/home1popup.js"></script>

{{!-- alert box code --}}
    <script src="/javascripts/customAlertBox.js"></script>
       <script>
       console.log('script is running')
    function addToCart(proId){
        showAlertBox()
       $.ajax({
        url:'/users/add__to__cart?product__id='+proId+'&from=home1', ///users/add__to__cart/?product__id={{this._id}}&from=home1
        method:'get',
        success:(response)=>{
            console.log(response)
            if(response.status){
                let count = $('#cart__count').html()
                count=parseInt(count)+1
                $('#cart__count').html(response.count)
            }
            console.log('message here')
            //alert('added to shoe store cart')
        }
       })
    }
  console.log('script is running 2')
    // wishlist
     function add__to__wishlist(pro__id){
        console.log('sfljksjflkjfsjsfjkl;fsjfsakldjfklsadjfklkflsdafksadl')
        if(document.getElementById(pro__id+'add').innerHTML=='Add to WishList'){
            console.log(document.getElementById(pro__id+'add').innerHTML,'from add ')
            console.log('got inside')
                      try {
                        console.log("inside the add to wishlist ajax")
                        $.ajax({
                          url: '/users/add__to__wishlist/'+pro__id,
                          method: 'get',
                          success: (response) => {
                            swal('added to wishlist')
                            let span = document.getElementById(pro__id+'add')
                            span.innerHTML = 'Remove from Wishlist'
                          }
                        })
                      } catch (err) {
                        console.log(err, 'is the error occured while executing the ajax function of add to wishlist')
                        location.href = '/users'
                      }
        }else{
            console.log('now else case of add to wishlist')
            remove__from__wishlist(pro__id)
        }
                    }
                    function remove__from__wishlist(pro__id){
                             console.log(document.getElementById(pro__id+'add').innerHTML,'from remove ')
                         if(document.getElementById(pro__id+'add').innerHTML=='Remove from Wishlist'){
                       try{
                         $.ajax({
                            url:'/users/remove__from__wishlist/'+pro__id,
                        method:'get',
                        success:(response)=>{
                            swal('removed from wishlist')
                            let span = document.getElementById(pro__id+'add')
                            span.innerHTML = 'Add to WishList'
                        }
                        })
                       }catch(err){
                        console.log(err,'is the error occured in the remove from the wishlist ajax function')
                        location.href='/users'
                       }
                         }else{
                            console.log('else case of remove from wishlist')
                            add__to__wishlist(pro__id)
                         }
                    }
</script> 
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>