
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
   
   <!-- font font-awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--Google Fonts-->
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;600;700;800&display=swap" rel="stylesheet">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/users/productPage.css">
 <link rel="stylesheet" href="/stylesheets/home1.css">
    <link rel="stylesheet" href="/stylesheets/users/header.css">
     <link rel="stylesheet" href="/stylesheets/users/alert.css">
    <title>Document</title>
</head>
<style>
   .small-img-group{
    display: flex;
    justify-content: space-between;
   }
   .small-img-col{
    margin-top: 8px;
    flex-basis: 24%;
    cursor: pointer;
    height: 150px;
    
   }
   .small-img-col img{
    object-fit: cover;
   }
   
   
</style>

<body>
     <div class="alert__box none"> 
        <div class="one">Added to <small>shoe store </small> cart 
           </div>
            <div class="two">
                <span class="close__alert">&times;</span>
            </div>  
    </div> 
  <!-- The Start of the Great Nav Section -->
    <!-- Product Page     -->
<section class=" container sproduct  pt-4 ">
    <div class="row mt-5 parent__of__magnifier">
        <div class="col-12 col-md-12 col-lg-5 image__box" >
            <img class="img-fluid w-100 img" id="mainImg" src="/product-images/{{data._id}}.jpg" alt="image__here">
            <div class="magnifier-lens"></div> 

            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/product-images/{{data._id}}2.jpg" alt=""  width="150px" height="150px" class="small-img" srcset="">
                </div>
                <div class="small-img-col">
                    <img src="/product-images/{{data._id}}3.jpg" alt=""  width="150px" height="150px" class="small-img" srcset="">
                </div>
                <div id="small_img_3rd" class="small-img-col">
                    <img src="/product-images/{{data._id}}4.jpg" alt="" width="150px" height="150px" class="small-img" srcset="">
                </div>
            </div>

        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <h6>Shoe Store</h6>
            <h3>{{data.company__name}} {{data.model}}</h3>
            <h4>{{data.category}}</h4>
            <h2>Rs.{{data.price}}</h2>
            <select class="my-3" name="" id="">
                <option value="">Select Size</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
            </select>
            <input type="number"name="" value="1" id="" min="1">
            {{!-- <button class="btn btn-success">Buy Now</button> --}}
            <button onclick=addToCart('{{data._id}}') class="btn btn-light add__to__cart">Add to Cart</button>
            <h4>Product details</h4>
            <p></p>{{data.description}}
            <div class="reviews">
                <div class="box">
                    <h2>Product Reviews</h2>
                   {{#each reviews}}
                     <div class="content">
                        <div class="profile__pic">
                            <img src="/userProfile/{{this.user__id}}.jpg" alt="" id="userP" class="userP" width="50px" height="50px"> 
                        </div>
                        <div class="comment">{{this.review}} <br> <small>review by {{this.user__name}}</small></div>
                        <div class="space">  </div>
                        <div class="space">  </div>
                        
                        <div class="st">
                            {{#each this.loop}}
                                <a class="st">⭐</a>
                            {{/each}}
                        </div>
                    </div>
                   {{/each}}
                </div> 
            </div>
        </div>
        <div class="magnified__image"></div>
    </div>
</section>

 <div class="new__arrivals" id="card">
        <h3>You may also like</h3>
    </div>
 <div class="the__products">
        <div class="the__container snaps__inline" >
            {{#each rec__products}}
            <div class="the__card" >
                <div class="imgbx"><a href="/users/productPage/{{this._id}}" style="text-decoration:none ;">
                        <img src="/product-images/{{this._id}}.jpg" alt="image__here" width="500px"></a>
                    <ul class="action">
                        <li>
                            
                             <i class="fa fa-heart" onclick="add__to__wishlist('{{this._id}}')"></i>
                            <span id="{{this._id}}add" >Add to WishList</span>
                           
                        </li>
                        <li>
                           
                            <i class="fa fa-shopping-cart" onclick=addToCart('{{this._id}}')></i>
                            <span >Add to Cart</span>
                        </li>
                        <li>
                            <i class="fa fa-eye"></i>
                            <span>View Product</span>
                        </li>
                    </ul>
                </div>
                <div class="content__home">
                    <div class="product__name">
                        <h3>{{this.model}}</h3>
                    </div>
                    <div class="price__rating">
                        {{#if this.disPrice}}
                         <h5 class="stroke">Rs.{{this.price}}</h5>
                        <h2>Rs.{{this.disPrice}}</h2>
                        {{else}}
                        <h2>Rs.{{this.price}}</h2>
                        {{/if}}
                        <div class="rating">
                            {{#each this.loop}}
                                <i class="fa fa-star"></i>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="button__div" style="padding:40px ;  width:190px">
                <a href="/users/home2/all__categories"> <button class="button__more" style="margin:0px 30px 0px ;"> View More<svg xmlns="http://www.w3.org/2000/svg" width="34"
                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></button> </a>
            </div>
        </div>
    </div>
    <script>
let profile = document.querySelectorAll('.userP')
    console.log(profile.length,'is the length')
   for (var i = 0; i<profile.length;i++){
    console.log('count')
   
     profile[i].addEventListener('error',(event)=>{
        console.log('error occured')
        console.log(event)
        event.target.src='/images/users/userProfile.jpg'
    })
   }

    var temp
    var main__img = document.getElementById('mainImg')
    var small__img = document.getElementsByClassName('small-img')

 console.log(small__img.length)
    for(var i = 0 ; i < small__img.length ; i++){
        small__img[i].addEventListener('error' , (e) => {
            console.log('error pic load')
            e.target.src = main__img.src
        } )
    }

    small__img[0].onclick=()=>{
         temp = main__img.src
         main__img.src = small__img[0].src
         small__img[0].src = temp    
    }
    small__img[1].onclick=()=>{
        temp = main__img.src
         main__img.src = small__img[1].src
         small__img[1].src = temp
    }
    small__img[2].onclick=()=>{
          temp = main__img.src
         main__img.src = small__img[2].src
         small__img[2].src = temp
    } 
    console.log('script is running peacefully')
    for (var i =0;i<small__img.length;i++){
        small__img[i].addEventListener('error',(e)=>{
            e.target.src = main__img.src
        })
    }
    </script>
<script src="/javascripts/wishlist.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/javascripts/customAlertBox.js"></script>
<script>
   
console.log('the script is fine and no errors ')
// alert box js code
 
  

    function addToCart(proId){
       $.ajax({
        url:'/users/add__to__cart?product__id='+proId+'&from=product__page', 
        method:'get',
        success:(response)=>{
            console.log(response)
            if(response.status){
                let count = $('#cart__count').html()
               // count=parseInt(count)+1
                $('#cart__count').html(response.count)
            }
            showAlertBox()
        }
       })
    }
   
</script> 
<script src="/javascripts/productZoom.js"></script>

</body>
