<link rel="stylesheet" href="/stylesheets/users/header.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Aboreto&family=Changa:wght@400;600;700;800&family=Cookie&family=Exo:wght@400;500;600;800;900&family=IBM+Plex+Mono:ital,wght@0,700;1,700&family=Righteous&family=Roboto+Mono:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/users/profilePage.css">
<link rel="stylesheet" href="/stylesheets/users/profilePopup.css">
<div class="container">
    <div class="main">
        <div class="topbar">

            <a href="/users/logout" class="mt-2">logout</a>
            <a href="/users/" class="mt-2">back to Home</a>
            <a href="/users/showWishlist" class="mt-2">My Wishlist</a>
            <a  class="mt-2">My Wallet</a>
            {{!-- <a href="/users/showWishlist" class="mt-2">My coupons</a> --}}
        </div>
        <div class="row">
            <div class="col-md-4 mt-1 profile__box">
                <div class="card text-center sidebar">
                    <div class="card__body  profile__pic">
                        <center> <img src='/userProfile/{{user__details._id}}.jpg' alt='image here' id="image"
                                width="150px" height="150px" /></center>
                        <div class="mt-3">
                            <center>
                                <h3>{{user__details.name}}</h3>
                            </center>
                            <button id="pop__signal" class='the__button mb-4'>Edit Pic</button><br>
                            <button class="the__button" id="dark"> dark mode</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1">
                <div class="card mb-3 content">
                    <h1 class="m-3 pt-3">Shoe Store</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md3">
                                <h4>User Id</h4>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{user__details._id}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md3">
                                <h4>Wallet balance</h4>
                            </div>
                            <div class="col-md-9 text-secondary">
                               {{#if user__details.wallet}}
                               {{user__details.wallet}}
                               {{else}}
                               0.00
                               {{/if}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>email</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{user__details.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>phone</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{user__details.phone__number}}
                            </div>
                        </div>
                        <div class="row">
                            {{!-- <div class="col-md-3">
                                {{#if user__details.is_member}}
                                <button onclick="window.location.href='/users/user__chat'" class="the__button"> Chat with Admin</button>
                                {{/if}}
                            </div> --}}
                            <div class="col-md-9 text-secondary">
                                <button class="the__button" id="address__button"> Add address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 content actions">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h1 class="m-3">Address list</h1>
                        <hr>
                    </div>

                    <div class="col-md-2">
                        <a href="/users/showOrders"><button class="my-4 the__button">My orders</button></a>
                    </div>
                    <div class="col-md-2">
                        <a href="/users/cart__page"><button class="my-4 the__button">My S-storeCart</button></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ol>
                    {{#each address}}
                    <li class="mb-3" id="{{this.title}}">{{this.title}} &nbsp; &nbsp; - {{this.address}} <button
                            onclick="remove__address('{{this.title}}')" class="the__button ms-4">Delete</button></li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
    <!-- Now some code for the pop up box -->

    <form action="/users/updateProfile/{{user__details._id}}" method="post" enctype="multipart/form-data">
        <div class="pop__up" id="pop__up">
            <div class="close__button">
                <svg id="close__button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </div>
            <div class="pop__up__box">
                <div class="profile__pic">
                    <img src="/userProfile/{{user__details._id}}.jpg" alt="" id="img__view" width="150px"
                        height="150px">
                </div>
                <div class="edit__button">
                    <input name="image" type="file" id="file" accept="image/*" onchange="viewImage(event)" required>
                    <label class="the__button" for="file" required>
                        Edit pic
                    </label>
                </div>
            </div>
            <div class="pop__up__bottom">
                <button type="submit" class="the__button">Save Changes</button>
            </div>
        </div>
    </form>

    

</div>

<div class="address__popup hide">
    <form action="/users/add__address/{{user__details.email}}" method="post">
        <div class="title">
            <center>
                <h3>Add address</h3>
            </center>
        </div>
        <div class="input__div">
            <center><textarea name="address" id="" cols="30" rows="10"
                    required>house name, street, city/town, district, state, country</textarea></center>
        </div>
        <div class="input__div">
            <input type="text" name="state" required placeholder="State">
        </div>
        <div class="input__div">
            <input type="text" name="country" required placeholder="Country">
        </div>
        <div class="input__div">
            <input type="number" name="pincode" required placeholder="Pincode">
        </div>
        <div class="input__div">
            <input type="text" name="title" required placeholder="Address title eg. home/office">
        </div>
        <div class="input__div">
            <center><input type="submit" class="submit__btn" value="Add Address"></center>
    </form>
    <div class="input__div">
    <center><button class="back submit__btn">Go back</button></center>
</div>
</div>


<script src="/javascripts/addAddress.js"></script>
<script>
    // js file
    const img = document.getElementById("image")
    img.addEventListener("error", function (event) {
        event.target.src = '/images/users/userProfile.jpg'
        event.onerror = null
    })
    const img2 = document.getElementById('img__view')
    img2.addEventListener('error', (e) => {
        e.target.src = '/images/users/userProfile.jpg' // if image doesnt load, the default image will display
        e.onerror = null
    })

    // some ajax code for deleting the address 
    function remove__address(title) {

        console.log('got inside the ajax of delete address ')
        $.ajax({
            url: '/users/delete__address',
            data: {
                title: title
            },
            method: 'post',
            success: (response) => {
                let list__item = document.getElementById(title)
                list__item.style.display = 'none'
                alert('deleted the address')

            }
        })
    }
</script>
<script src="/javascripts/admin__profile.js"></script>
<script src="/javascripts/imageChange.js"></script>
<script src="/javascripts/darkMode.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>