 <link rel="stylesheet" href="/stylesheets/users/header.css">
 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;600;700;800&display=swap" rel="stylesheet">
<style>
       body{
        width: 99vw;
           margin:0;
           padding:0;
       }
       .the__cover{
        display: flex;
        flex-direction: column;
        justify-content:center;
        font-family: 'Work Sans', sans-serif;
        padding: 20px !important;
       }
       .box{
        background-color:white;
        border:2px solid green;
        border-radius: 15px;
        width: 100%;
        margin-bottom: 7px;
       }
       .the__rectangle{
       margin-top: 20px;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       /* padding: 20px; */
       height: 100%;
       border-radius: 15px;
        background-color:white;
      color: green;
       /* border: 2px solid green; */
       /* box-shadow:2px 2px 1px .5px rgba(255, 255, 255, 0.624),-2px -2px 1px .5px rgba(255, 255, 255, 0.9); */
   }
   .left{
       display: flex;
       flex-direction: column;
       padding: 10px;
   }
   .right{
       display: flex;
       flex-direction: row;
       padding: 10px;
       position: relative;
   }
   .total__amount,
   .status{
       margin:10px 20px 10px;
   }
   .view__products{
       display: flex;
       justify-content: space-around;
       /* left: 25px; */
       
   }
   .button__div{
    margin: 0 10px 10px;
   }
   .bottom__rectangle{
    display: flex;
    justify-content: flex-end;
   }
   .view__products button{
       border: none;
       color: white;
       background-color:green;
       padding: 8px 20px;
       border-radius: 8px;
       font-weight: 700;
       cursor: pointer;
       transition: .15s;
       font-size: 13px;
       margin:0px 10px 0
   }
   .view__products button:hover{
       color: white;
       background-color: rgb(9, 192, 9);
       transition: .15s;
       box-shadow: 2px 2px 5px .5px rgba(255, 255, 255, 0.624),-2px -2px 5px .5px rgba(255, 255, 255, 0.9);
   }
   .view__products .cancel:hover{
       background-color: red;
       color: white;
   }
   @media screen and (max-width:1000px){
       
       .the__rectangle{
           flex-wrap: wrap;
           flex-direction: column;
           height: 100%;
       }
       .the__cover h3{
           margin: 0;
       }
       .view__products {
           align-self: center;
           position: relative;
           margin:0px auto 0px;
           font-size: 15px;
       }
        .view__products button{
           margin-top: 10px;
           padding: 5px 10px;
       }
       .box{
        width: 100%;
       }
   
   }
   
   @media screen and (max-width:560px){
    .box{
        width: 100%;
        margin-bottom: 5px;
    }
       .the__cover{
           padding: 0 !important;
       }
       body{
           background-color: white;
       }
       .the__rectangle{
           padding: 0;
           height: 100%;
       }
       .the__rectangle .left .date h3,
       .the__rectangle .left .address h3{
           font-size: 16px;
       }
      
       .view__products{
          position: relative;
          bottom: 0;
          font-size: 15px;
       }
       .view__products button{
           margin-top: 10px;
           padding: 5px 10px;
       }
      
       hr{
           display: none;
       }
       .right{
        margin: 0;
        flex-wrap: wrap;
       }
       .cover{
        height: 100%;
       }
       /* .the__rectangle > div{
           display: inline-flex;
     flex-wrap: wrap;
     gap: 12px;
       } */
   }
   @media screen and (min-width:800px){
       .the__cover{
           padding: 0;
       }
       body{
           background-color: whitesmoke;
       }
   }
   </style>      
    <div class="the__cover">
        {{#each orders}}
        <div class="box">
        <div class="the__rectangle">
            <div class="left">
                <div class="date">
                    <h3>Date : {{this.date}}</h3>
                </div>
                <div class="address">
                    <h3> Address :{{this.delivery__details.address}} </h3>
                </div>
                <div class="id" style="display:none ;">
                   <span style="font-size:10px ;">Order Id <span class="order__ids">{{this._id}}</span></span>
                </div>
            </div>
            <hr>
            <div class="right">
                <div class="total__amount">
                    <h3>Total Amount</h3>
                    <span> Rs. {{this.total__amount}} </span>
                </div>
                <div class="total__amount">
                    <h5>Payment</h5>
                    <span>{{this.payment__method}} </span>
                </div>
                <div class="status">
                    <h3>Status</h3>
                    <span class="order__status">{{this.status}}</span>
                </div>
            </div>
        </div>
        <div class="bottom__rectangle">
            <div class="view__products">
                    {{#if this.review}}
                   <div class="button__div"> <button class="the__button" onclick="window.location.href='/users/view__ordered__products/?proId={{this._id}}&flag=review'">View Products</button></div>
                    {{else}}
                    <div class="button__div"><button class="the__button" onclick="window.location.href='/users/view__ordered__products/?proId={{this._id}}&flag=notYet'">View Products</button></div>
                   {{/if}}
                   {{#if this.cancel}}
                 
                   {{else}}
                        {{#unless this.cancelled}}
                            <div class="button__div"> <button onclick="window.location.href='/users/deleteOrder/{{this._id}}'" class="the__button cancel">Cancel Order</button></div>
                        {{/unless}}
                            {{/if}}
                </div>
        </div>
        </div>
        {{/each}}
    </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        let order__ids = document.querySelectorAll('.order__ids')
        let view__products = document.querySelectorAll('.view__products')
        let order__status = document.querySelectorAll('.order__status')
       for(var i = 0 ; i < order__status.length ; i++){
        if(order__status[i].innerHTML=='pending') {
            let payBtn = document.createElement('button')
            payBtn.innerHTML = `pay <span>`
            payBtn.classList.add('payBtn')
            payBtn.id = order__ids[i].innerText
            console.log(payBtn)
            let button__div = document.createElement('div')
            button__div.appendChild(payBtn)
            view__products[i].appendChild(button__div)  // logic  1.creates a button with innerText pay and a div (just to match css styling) if the order status is pending and attach it to another div just to match the styling and then attaches the div to the view products 
        }
       }
       
        // now registering events for the payBtns
       try{
        let payBtns = document.querySelectorAll('.payBtn')
        for(var i = 0 ; i < payBtns.length ; i++){
            payBtns[i].addEventListener('click',(e) => {
              getOrderDetails(e.target.id)
            })
        }
       }catch(err){
        console.log(err,'error means that no orders have the status pending !, seems the user is so smart dont ya !')
       }

       getOrderDetails = (id) => {
        $.ajax({
            url:'/users/get__order__details?order__id='+id,
            method:'get',
            success:(order) => {
                if(order) {
                    swal('first step done')
                   razorPay(order)
                }
                else swal('No response from the backend !')
            }
        })
       }
       
       razorPay = (order) => {
         var options = {
    "key": "rzp_test_BSsgMe3aOTLBnC", // Enter the Key ID generated from the Dashboard
    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Vyaveta group",
    "description": "Test Transaction",
    "image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR06JmZ8xM8rNxElD2kKc1xAEmN84bdz7hYILs3lYaapLP08E6g27-v48UQD6QplgoVKdI&usqp=CAU",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler":function (response){

        verifyPayment(response,order)
    },
   // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "prefill": {
        "name": "Adwaith",
        "email": "whatthe12hell@gmail.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#50AA57"
    }
};
    var rzp1 = new Razorpay(options);
    rzp1.open()
       }
       function verifyPayment(payment,order){

      console.log('got inside the final function')
        $.ajax({
            url:'/users/verify__payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
              console.log(response)
                if(response.status){
                  location.href='/users/orderPlaced'
                  swal('Payment successfull')
                }else{
                    swal('Something went wrong !')
                }
            }
        })
     }
    </script>