 <link rel="stylesheet" href="/stylesheets/users/header.css">
 <link rel="stylesheet" href="/stylesheets/users/table.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/users/productPage.css">
    <div class="container-fluid" style="display:flex ; justify-content:center;align-items:center">
        <table class="content__table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Total Products</th>
                    <th>Total Amount</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.delivery__details.address}} </td>
                    <td>test mode </td>
                    <td>{{this.total__amount}} </td>
                    <td>{{this.payment__method}}</td>
                    <td>{{this.status}}</td>
                    <td><a href="/users/view__ordered__products/{{this._id}}" class="btn  btn-success">View Products</a></td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>